dwm/config.h
dwm/drw.o
dwm/dwm
dwm/dwm.o
dwm/util.o

dmenu/config.h
dmenu/dmenu
dmenu/dmenu.o
dmenu/drw.o
dmenu/stest
dmenu/stest.o
dmenu/util.o

st/config.h
st/st
st/st.o
st/x.o

slock/config.h
slock/explicit_bzero.o
slock/slock
slock/slock.o
